* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    height: 100vh;
    background-image: url(https://image.ibb.co/cO9Lxq/login-bg.jpg);
    color: white;
}

#left {
    background-color: black;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signin {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    max-width: 80%;
}

#links {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#links a{
    display: block;
    text-decoration: none;
    color: deepskyblue;
    margin: 10px;
}



.hr-bar {
    width: 100%;
}

#main-footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    text-align: center;
}

#main-footer a {
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 12px;
}

.secondary-btn {
    width: 100%;
    background-color: gray;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-btn a {
    text-decoration: none;
    color: white;
}


#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

input {
    width: 100%;
    background-color: black;
    height: 30px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: deepskyblue;
    border-style: none;
    margin-top: 10px;
}

a.secondary-btn {
    width: 80%;
    text-decoration: none;
    color: white;
    margin: 10px;
}

h1 {
    font-weight: 200;
}

#showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}
